<!doctype html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/highlight.js') }}"></script>
  <link  type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<title>Genius Scrape</title>
<meta charset="UTF-8">
<body>
  <h3 style='text-align: center'>Phoneme Search</h3>
  {% if auth %}
    <br/>
    <form action="{{ url_for('querySongs') }}" method="post" class="form-inline" style="width: 30%; margin: auto">
      <div style='text-align: center'>
        <input type="text" class="form-control" placeholder="Enter a Song or Artist" name="QueryBox">
        <input type="submit" class="btn btn-default" value="Go">
      </div>
    </form>
    {% if songs %}
      <hr style='width: 70%'/>
      <div class="well" style="width: 60%; margin: auto; text-align: center">
        {% for s in songs %}
          <form action="{{ url_for('getPhones') }}" method="post">
            <input type="hidden" value="{{loop.index}}-{{ s }}" name="SongID"/>
            <input class="btn btn-default" type="submit" value="{{ s }}"/>
          </form>
        {% endfor %}
      </div>
    {% endif %}
    {% if lyrics %}
      <hr style="width: 70%"/>
      <div class="container">
        <div class="row">
          <div class="col col-md-8">
            {% if selected %}
              <h4>{{ selected }}</h4>
            {% endif %}
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#1" data-toggle="tab">Lyrics</a>
              </li>
              <li>
                <a href="#2" data-toggle="tab">Highlighted</a>
              </li>
            </ul>
            <div class="tab-content ">
              <div class="tab-pane active" id="1">
                <center>
                  <pre>
                    {{ lyrics }}
                  </pre>
                </center>
              </div>
              <div class="tab-pane" id="2">
                <center>
                  <div class="well">
                    {{ pd|safe }}
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            {% if phonemes %}
              <h4> Unique Sounds: {{ p_count }}</h4>
              <ul class="nav nav-pills nav-stacked">
                {% for value in phonemes %}
                  <li><a class="selector" onclick="highlightByID('{{ value.sound|e  }}')"><span style="color:{{ value.color|e }}">{{ value.sound|e }}</span> -  {{ value.count|e }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    <br/>
    <form action="{{ url_for('authorizeUser') }}" method="post" style="text-align: center"><input type="submit" class="btn btn-default" value="Login with Genius"/></form>
  {% endif %}
</body>

